<!doctype html>
<html>
<head>
	<meta charset='utf8'>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>{{ conf.TITLE }}</title>
    <meta name="description" content="{{ conf.DESCRIPTION }}" />

	<link rel='icon' type='image/png' href='{{ conf.base_url }}/static/favicon.png'>
	<link rel='stylesheet' href='{{ conf.base_url }}/static/base.css'>
	<link rel='stylesheet' href='{{ conf.base_url }}/static/home.css'>
	<link rel='stylesheet' href='{{ conf.base_url }}/static/bundle.css'>
</head>

<body>
    <script>
    let base_url = "{{ conf.base_url }}";
	let pubgate_instance = true;
	let about_description = "{{ conf.DESCRIPTION }}";
    </script>
	<script src='{{ conf.base_url }}/static/bundle.js'></script>
</body>
</html>

