{% extends "base.jinja" %}
{% import "macros.jinja" as macros %}

{% block head %}
    {{ super() }}
    <link href="{{ static_url }}style/home.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<header>
	<ul>
		<li><a href="/local">Local Timeline</a></li>
		<li><a href="/fed">Federated Timeline</a></li>
		<li><a href="/home">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/dot-dot-dot">...</a></li>
	</ul>
</header>
<div id="local" class="hidden content">
	{% if localposts %}
		{{ macros.post_list(localposts) }}
	{% else %}
		{{ macros.warning("Could not load blog posts.", is_content=False) }}
	{% endif %}

</div>
<div id="fed" class="hidden content">
	{% if fedposts %}
		{{ macros.post_list(fedposts) }}
	{% else %}
		{{ macros.warning("Could not load blog posts.", is_content=False) }}
	{% endif %}
</div>

<div id="home" class="hidden content">
</div>

<div id="about" class="hidden content">
	<span class="about-greeting">Hi!</span>
	<p>{{ conf.DESCRIPTION }}</p>
</div>


<div id="dot-dot-dot" class="hidden content">
</div>
<script src="{{ static_url }}script/home.js"></script>
{% endblock %}