{% macro tag_list(post) -%}
<div class="tags">
{% for tag in post.object.tag %}
	<a class="tag" href="/blog/tag/{{ tag }}">{{ tag.name }}</a>
{% endfor %}
</div>
{%- endmacro %}

{% macro post_list(posts) -%}
<div>
	<ul class="post-list">
		{% for post in posts %}
		<li class="post">
			<a href="/blog/post/{{ post.name }}"><h2 id="post-{{ post.name }}">{{ post.title }}</h2></a>
			{{ metadata(post) }}
			{{ tag_list(post) }}
			<p>{{ post.object.content }}</p>
		</li>
		{% endfor %}
	</ul>
</div>
{%- endmacro %}


{% macro metadata(post) -%}
<div class="metadata">
    {% set userlist = post.actor.split('/') %}
    <span>User <a href="{{ post.actor }}">{{ userlist[-1] }}</a></span>
    <span class="metadata-seperator">·</span>
	<span>{{ post.published |replace("T", " ") |replace("Z", " ")}}</span>

</div>
{%- endmacro %}

{% macro back_arrow(location) -%}
<a href="{{ location }}">
	<span class="back-arrow" alt="Back">⇤</span>
</a>
{%- endmacro %}

{% macro warning(text, is_content=True) -%}
<div class="{% if is_content %}content{% endif %} warning">
	<svg height="32" width="32" viewBox="0 0 16 16">
		<use xlink:href="#warning"></use>
	</svg>
	<p>{{ text }}</p>
</div>
{%- endmacro %}

