<!doctype html>
<html>
<head>
	<meta charset='utf8'>
	<meta name='viewport' content='width=device-width'>

	<title>Svelte app</title>

	<link rel='icon' type='image/png' href='{{ static_url }}favicon.png'>
	<link rel='stylesheet' href='{{ static_url }}base.css'>
	<link rel='stylesheet' href='{{ static_url }}home.css'>
	<link rel='stylesheet' href='{{ static_url }}global.css'>
	<link rel='stylesheet' href='{{ static_url }}bundle.css'>
</head>

<body>
	<script src='{{ static_url }}bundle.js'></script>
	<script src='{{ static_url }}home.js'></script>
</body>
</html>

